#reg_frame {
  position: relative;
  width: 20%;
  min-height: 20vh;
  background: #f3f3f3;
  padding: 20px;
  margin: auto;
  margin-top: 10%;
  box-shadow: 2px 2px 5px #1a1a1a;
}

#reg_frame h1 {
  margin: 0px 0px;
}

#reg_frame hr {
  margin-bottom: 20px;
}

#reg_frame input {
  margin: 5px 0px;
  border: none;
  border-bottom: 1px solid #222222;
  background-color: #f3f3f3;
}

#reg_frame input:focus {
  border-bottom: 1px solid #1b6bd4;
  background-color: #f3f3f3;
  outline: none;
}
#reg_frame button {
  width: 25%;
  height: 30px;
}

.right-inputs {
  position: absolute;
  left: 50%;
  top: 13%;
}
