<div id="clearfix">
  <h1>Uživatelé</h1>
  <hr>
  <div class="user-card" *ngFor="let user of users">
    <div class="user-info-primal">
      <div class="user-profile-img" [style.background-image]="'url(' + user.profilePic + ')'">
        <h2>{{user.name.charAt(0)}}</h2>
      </div>
      <div class="user-info-text">
        <p>Nick: @{{user.nick}}</p>
        <p>Jméno uživatele: {{user.name}}</p>
        <p>věk: {{user.age}}</p>
      </div>

    </div>
    <div class="user-info-secondary">
      <p>popis: {{user.description}}</p>
      <p>skills: {{user.skills}}</p>
    </div>

  </div>
</div>
