<div id="clearfix">
  <h1>Homepage</h1>
  <hr>
  <br>
  <div class="article_cont">
    <div class="article_box">
      <h1 style="padding-left: 20px">About our portfolio</h1>
      <hr>
      <p>
        ,,Our web is designed to allow multiple users to flex on each another,
        represent their skills and hobbies, let others know how shit of a cook you are...
        Sure we hope you will appreciate your time on our portfolio and eventually enjoy the new friends they make."
      </p>
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="article_box">
      <h1 style="padding-left: 20px">What can I do here at all?</h1>
      <hr>
      <p>
        ,,It is as simple as you would think: other people really love to stalk information about other people, and
        this site is the perfect way to do it.
        Just fill up some shit, tell us, what shall we expect of you and you're free to go. Usually, everyone will find
        interest in you for sure!"
      </p>
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="article_box">
      <h1 style="padding-left: 20px">How can I even join? Does it hurt?</h1>
      <hr>
      <p>
        ,,Joining the PCV portfolio site is as simple as adding honey to your browser; just click one button, fill up
        your personal information and you are set. If you are so blind and by now you haven't found the massive button for
        registration up the corner, we provide for you this unique link, all for FREE!!"
        Here you go:

        <br>
        <button class="register_btn" routerLink="Registrace">Register Now!</button>

      </p>
      <br>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <img src="../../assets/spamuelposter.png" height="400" width="1600"/>

  </div>
</div>
