<div id="clearfix">
  <h1>Homepage</h1>
  <hr>
  <h1>About our pornfolio</h1>
  <div class="article_box">
    <p>
      Our web is designed to allow multiple users to flex on each another,
      represent their skills and hobbies, let others know how shit of a cook you are...
      Sure we hope you will appreciate your time on our portfolio and eventually enjoy
    </p>
  </div>
  <img src="../../assets/spamuelposter.png" height="400" width="1600"/>
  <img src="../../assets/macuramnum.png" height="auto" width="1600"/>
</div>
